@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
/* reset css */
html{
    font-size: 70%;
    scroll-behavior: smooth;
    background-color: var(--connectionButtonTextColor);
}
body{
    font: 1.6rem 'Arimo', sans-serif;
    margin: 0;
    padding: 0; 
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
:root{
    --connectionButtonBg : rgb(43, 119, 235);
    --connectionButtonHoverBG : rgb(38, 102, 197);
    --shadowSearchBar : rgba(184,184,184,1);
    --navLink : #787878;
    --navLinkHover : #000;
    --borderSearchBar : #d1d1d1;
    --connectionButtonTextColor : #fff;
}
 
header{
    display: flex;
    margin: 1rem 2rem;
    flex-direction: row;
    justify-content: flex-end;
}
header nav a{
  margin-right: 1rem;
  color: var(--navLink);
}
header nav a:hover{
  color: var(--navLinkHover);
}
header nav{
  display: flex;
  margin: 1rem 2rem;
  flex-wrap: wrap;
  align-items: center;
}

section{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 10rem;
}
main section img{
    padding: 3rem;
}
main section form{
  display: block;
  flex-direction: column;
  width: 40%;
}
main section form input{
    margin-top: -2rem;
    padding:1.5rem;
    border-radius: 5rem;
    border: 0.1rem solid var(--borderSearchBar);
    width: 100%;
    align-items: center;
}
header nav a:nth-child(3):hover {
    background: var(#4d4d4d);
    padding: 1rem;
    text-align: center;
}
header nav a:nth-child(4) {
    background-color: var(--connectionButtonBg);
    color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 13rem;
    top: 4rem;
    text-align: center;
}
header nav a:nth-child(4):hover {
    background-color: var(--connectionButtonHoverBG);
}
section input:hover, section input:focus{
    -webk-webkit-box-shadow: -8px -1px 19px -8px var(--shadowSearchBar);
    -moz-box-shadow: -8px -1px 19px -8px var(--shadowSearchBar);
    box-shadow: -8px -1px 19px -8px var(--shadowSearchBar);
    border: 0;
}
form button:nth-of-type(submit) {
    margin-top: 4rem;
    text-align: center;
}
form button{
    padding: 1rem 2rem;
    background-color: #f0f0f0;
    border: 0; 
    border-radius: 0.5rem;
    margin: 4rem 10%;
    color: #4d4d4d;
}
form p a {
    color: var(--connectionButtonBg);
}
form p a:hover {
    color: var(--connectionButtonHoverBG);
}


footer{
    background-color: #f2f2f2;
}
footer hr{
    font-size: 0.1rem;
    color: #e3e4e84d;
}
footer ul li img{
    max-width: 5%;
    transform: translateX(.3rem);
}
footer p{
    color: #262728;
    padding: 1rem 1rem;
}
footer ul{
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
}
footer ul li a{
    padding-left: 1rem;
    color:#262728d2;
}
